<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tangstudios.wilson.apptemplate" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_judo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tangstudios.wilson.apptemplate.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tangstudios.wilson.apptemplate.EditMatchRecord"
            android:label="@string/title_activity_edit_match_record" >
        </activity>
        <activity
            android:name="com.tangstudios.wilson.apptemplate.EditCommService"
            android:label="@string/title_activity_edit_comm_service" >
        </activity>
    </application>

</manifest>
